<footer>
  <div class="containerFooter">
    <div class="colFoot1">
      <h3>PathFinders</h3>
      <img src="https://tablockfr.github.io/cityloc-base/imgs/logo-cityloc-400.png" style="width: 50%; opacity: 0.2;">
    </div>
    <div class="colFoot2">
      <h3>Contactez-nous !</h3>
      <ul>
        <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xpzgdyjy" method="post">
          <fieldset id="fs-frm-inputs">
            <div class="infosForm">
              <div class="infosFormPseudo">
                <label for="full-name"></label>
                <input type="text" name="name" id="full-name" placeholder="Votre pseudo" required="">
              </div>
              <div class="infosFormMail">
                <label for="email-address"></label>
                <input type="email" name="_replyto" id="email-address" placeholder="email@mon-domaine.fr" required="">
              </div>
            </div>
            <label for="message"></label>
            <textarea rows="5" name="message" id="message" placeholder="Votre message ici..." required=""></textarea>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
          </fieldset>
          <input type="submit" value="Envoyer">
        </form>
      </ul>
    </div>
    <div class="colFoot4">
      <h3>Réseaux</h3>
      <ul>
        <li>
          <a href="#" target="_blank" style="display: flex; align-items: center; text-decoration: none; color: #ffffff; width: fit-content; margin: auto;">
            <img src="https://tablockfr.github.io/cityloc-base/imgs/picto-insta-blanc.png" alt="picto Instagram" style="width: 30px; height: 30px; margin-right: 10px;"> Instagram
          </a>
        </li>
        <li>
          <a href="#" target="_blank" style="display: flex; align-items: center; text-decoration: none; color: #ffffff; width: fit-content; margin: auto;">
            <img src="https://tablockfr.github.io/cityloc-base/imgs/picto-fb-blanc.png" alt="picto Facebook" style="width: 30px; height: 30px; margin-right: 10px;"> Facebook
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyrightFooter">© 2023 - TOUS DROITS RÉSERVÉS - CITYLOC</div>
</footer>
