<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta property="og:title" content="Cityloc">
    <meta property="og:description" content="Cityloc • La communauté tripartite - consommer local">
    <meta property="og:image" content="https://tablockfr.github.io/cityloc-base/imgs/illu_cityloc.png">
    <meta property="og:type" content="website">
    
    <link rel="stylesheet" href="https://tablockfr.github.io/cityloc-base/style.css" />
    <link rel="icon" href="https://tablockfr.github.io/imgs/favicon_PF_32.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://tablockfr.github.io/cityloc-base/main.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="menu-btn">
        <div class="menu-btn__lines"></div>
      </div>
      <a href="https://tablockfr.github.io/cityloc-base" class="logo">
        <img src="https://tablockfr.github.io/cityloc-base/imgs/logo-cityloc.png" alt="logo Cityloc">
      </a>
      <ul class="menu-items">
        <li>
            <a href="#" class="menu-item expand-btn">Offres</a>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Demandes</a>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">À propos</a>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Contact</a>
        </li>
      </ul>
      <ul class="menu-pictos">
        <li class="nohover">
          <a href="#" target="_blank">
            <img src="https://tablockfr.github.io/cityloc-base/imgs/picto-login.png" alt="picto login">
          </a><a href="#" target="_blank">
            <img src="https://tablockfr.github.io/cityloc-base/imgs/picto-cart.png" alt="picto cart">
          </a>
        </li>
      </ul>
    </header>
    <div class="spaceHead"></div>
    <div class="imgback"></div>

    <div class="contentPage">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>
</html>
